{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
    <h1 class="display-4">TodoList</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Incomplete Todo</h3>
    {% if incomplete_count != 0 %}
    {% for todo in incomplete_todos %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ todo.due_at }}</h6>
            <p class="card-text">{{ todo.memo }}</p>
            <a href="{% url 'status' todo.pk %}" class="card-link">Complete</a>
            <a href="{% url 'delete' todo.pk %}" class="card-link">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-success" role="alert">
        There are no uncompleted Todos.
    </div>
    {% endif %}

    <h3>Complete Todo</h3>
    {% if complete_count != 0 %}
    {% for todo in complete_todos %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ todo.due_at }}</h6>
            <p class="card-text">{{ todo.memo }}</p>
            <a href="{% url 'status' todo.pk %}" class="card-link">Incomplete</a>
            <a href="{% url 'delete' todo.pk %}" class="card-link">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        There are no completed Todos.
    </div>
    {% endif %}
</div>
{% endblock %}